*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Aboreto', cursive;
}

::-webkit-scrollbar {
    display: none;
}

body,
main {
    min-height: 100vh;
    width: 100vw;
    background-color: #3E6F6B;
    cursor: default;
}


ul,
li {
    text-decoration: none;
    list-style-type: none;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

i {
    display: none;
}

.background-image {
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.header {
    width: 50vw;
    height: 35vh;
    position: absolute;
    right: 0;
    background-image: url('./img/marcia.png');
    
    z-index: 100;

}

.main {
    align-items: flex-end;
}

.main-text {
    padding: 1rem;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;

    text-transform: uppercase;
    background-color: #317A86;
  
    /* height: 100vh; */
    width: 100vw;
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
}

.main-location {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: flex-start;

    font-size: 25px;
    visibility: hidden;
}

.title-span {
    font-size: 40px;
}

.title {
      font-size: 50px;
      z-index: 200;
}

.about {
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    width: 90vw;
    height: 70vh;
    padding: 1rem;
    background-color: #61727C;
    position: absolute;
    right: 0;
    z-index: 10;

    clip-path: polygon(80% 0%, 100% 0, 100% 100%, 0% 0%);

}

.contact-info {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    z-index: 20;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem .5rem 1rem 2rem;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    filter: grayscale(100%);
    
}

.contact-info ul li {
    padding-top: .5rem;
    padding: .7rem;
}

.instruments {
    justify-content: space-evenly;
    gap: .5rem;
    padding: .5rem 0;
    font-size: 18px;
    flex-wrap: wrap;
    
}

.about-text {
    text-align: end;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
}

.about-text p {
    font-size: 20px;
    max-width: 20ch;
    margin-bottom: 1rem;
}

.prices {
    font-size: 20px;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-end;
    display: none;
    /* margin-bottom: 2rem; */
}

.mobile-prices {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    max-height: 80vh;
    height: 60vh;
    width: 100vw;
    padding: 2rem;
    font-size: 22px;
    padding-top: 1rem;
   /* position: relative;
   bottom: 0;
   left: 0; */
   z-index: 100;
}

.price-list {
    flex-direction: column;
    padding-bottom: 1rem;
    gap: .5rem;
}


.bold {
    font-weight: bold;
}
/* 
.qr {
    background-image: url('img/qr.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 10vh;
} */

.bottom-image {
position: fixed;
bottom: 5px;
left: 0;
background-image: url('./img/img-bottom.jpg'); 
width: 40vw;
height: 40vh;
z-index: 100;
border-radius: 100%;
}

@media (min-width: 450px) {
    .contact-info {
        font-size: 22px;
    }

    .instruments {
        flex-wrap: nowrap;
        font-size: 20px;
    }

    i {
        display: contents;
    }

    .main-text {
        padding: 2rem;
    }

    .title {
        font-size: 80px;
    }

    .price-list {
        flex-direction: row;
    }


 
}

@media (min-width: 650px) {
  .main-location {
    visibility: visible;
  }

    .main-text {
        clip-path: polygon(0 0, 20% 0, 100% 100%, 0 100%);
    }

    .instruments {
        font-size: 22px;
    }

    .about-text p {
        width: 60%;
        font-size: 25px;
    }

    .prices {
        font-size: 25px;
    }

   
}

@media (min-width: 750px) {



}

/* @media (min-width: 900px) {
    .about {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
    }
    .header {
        width: 55vw;
        height: 60vh;
    }
 
} */

@media (min-width: 900px) {

    .header {
        width: 100vw;
        height: 60vh;
    }
    main {
        display: flex;
    }

    .contact-info {
        position: absolute;
    }

    .bottom-image {
        display: none;
    }

    .about {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 30% 100%);
        justify-content: flex-end;
        padding: 2rem;
    }

    .main-text {
           height: 100vh;
    }

    .about-text p {
        width: 40%;
    }

    .mobile-prices {
        display: none;
    }

    .prices {
        display: contents;
    }


}

@media (hover:hover) {
    a:hover {
        color: antiquewhite;
    }
}